.firstClass {
    background-color: #ff0000;
    font-size: large;
    padding: 10px;
    border: 1px solid #000000;
}

a:hover {
    color: red; /* Set your desired color */
}

#imageContainer {
    /* Your styles here */
    border: 2px solid black;
    padding: 10px;
}